body {
    background-color: #9dada2;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Century Gothic", Arial, sans-serif;
    margin: 50px;
    font-size: 100px;
    border: 2px solid #333; /* Border style, width, and color */
    padding: 10px; /* Add padding around the content */
}

p {

    display: flex;
    justify-content: center;
    margin-top: auto;
}

.button-1, .button-2, .button-3 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 10px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40;
  will-change: transform;
}

.button-1:disabled, .button-2:disabled, .button-3:disabled {
  pointer-events: none;
}

.button-1:hover, .button-2:hover, .button-3:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-1:active, .button-2:active, .button-3:active {
  box-shadow: none;
  transform: translateY(0);
}